/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(81, 61%, 48%);
  --first-color-alt: hsl(152, 24%, 28%);
  --first-color-light: hsl(152, 24%, 66%);
  --first-color-lighten: hsl(152, 24%, 92%);
  --title-color: hsl(152, 4%, 15%);
  --text-color: hsl(152, 4%, 35%);
  --text-color-light: hsl(152, 4%, 55%);
  --body-color: hsl(152, 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1000px) {
  :root {
    --big-font-size: 3.2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  color: var(--text-color);
  background-color: var(--body-color);
  transition: .4s;
  align-items: center;
  max-width: 100%;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

@keyframes float {
  0%, 100% {
      transform:translateY(-5px)
  }
  50%{
      transform: translateY(15px);
  }
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(152, 8%, 20%);
  --title-color: hsl(152, 4%, 95%);
  --text-color: hsl(152, 4%, 75%);
  --body-color: hsl(152, 8%, 12%);
  --container-color: hsl(150, 7%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme{
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  margin-left: 2rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe, 
.dark-theme .contact__input{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(152, 4%, 4%, .3);
}

.leafHeader {
  width: 40px;
  transition: .3s ease-in-out;
}

.leafHeader:hover {
  transform: scale(1.1);
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 5.5rem 0 1rem;

}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
  text-align: center;
}

.container{
  width: 1100px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2rem;
}

.grid{
  display: grid;
}

/*=============== MODAL ===============*/
.modal {
  display: none;
  flex-direction: column; 
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.spanEmphasis {
  color: var(--first-color);
  font-weight: bold;
}

.dark-theme .modal-content {
  background-color: hsl(152, 0%, 100%);
  color: black;
}

.modal-content {
  background-color: hsl(152, 8%, 12%);
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  margin: auto;
  padding: 50px;
  width: 500px;
  border-radius: 30px;
}

.titleContentModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titleContentModal h2 {
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  font-size: 30px;
}

.close {
  float: right;
  font-size: 35px;
  font-weight: bold;
  transition: .4s;
}

.modalText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: var(--first-color);
  transform: scale(1.3);
}

header {
  position: relative;
  z-index: 1;
}

/* Responsividade */
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    padding: 40px;
  }
  .modalText {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%;
    padding: 30px;
  }

  .modalText {
    font-size: 14px;
  }
  .titleContentModal h2 {
    font-size: 25px;
  }
  .close {
    font-size: 30px;
  }
}
/*=============== HEADER ===============*/
.header{
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-fixed);
  transition: .4s;
  padding: 0 1rem;
}

/*=============== NAV ===============*/
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(152, 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(152, 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  padding: 2rem 0 2rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}

.divOpenBook {
  width: 500;
}

.home__img, .divOpenBook{
  justify-self: center;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

model-viewer {
  overflow-x: hidden;
  text-align: center;
  width: 500px;
  height: 500px;
  margin-right: 10px;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-2-5);
  text-align: justify;
  max-width: 95%;
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1rem;
  margin-right: 1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow{
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links{
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.home__social-link{
  font-size: 1rem;
  color: var(--first-color);
  transition: .3s;
}

.home__social-link:hover{
  transform: translateX(.25rem);
}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  transition: .3s;
}

.button:hover .button__icon{
  transform: translateX(.25rem);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
#about {
  min-height: 100vh;
  max-width: 100%;
}
.about__container{
  row-gap: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto 2rem;
}

.about__data {
  max-width: 50%;
}

.about__title{
  margin-bottom: var(--mb-1);
  text-align: start;
}

.about__description{
  margin-bottom: var(--mb-2);
  text-align: justify;
}




.about__details{
  margin-bottom: var(--mb-2-5);
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

/*=============== STEPS ===============*/
.steps__bg{
  background-color: var(--first-color-lighten);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 1rem;
}

.steps__title{
  color: var(--tex);
}

.steps__card{
  background-color: var(--container-color);
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  border-radius: 1rem;
  width: 290px;
  cursor: pointer;
}

.card {
  overflow: visible;
  cursor: pointer;
  perspective: 1000px;
}

.content {
  width: 250px;
  height: 304px;
  transform-style: preserve-3d;
  transition: transform .6s;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  /* Use relative em vez de absolute */
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, var(--first-color), var(--first-color), var(--first-color), var(--first-color), transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 96%;
  height: 96%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-content strong {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--big-font-size);
  font-family: 'Nunito', sans-serif;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
      transform: rotateZ(0deg);
  }

  0% {
      transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
  box-shadow: 0px 0px 25px 1px #000000ee;
  transform-style: preserve-3d;
  transition: transform 0.1s;
  display: flex;
  justify-content: center;
}

.front .front-content {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

.title {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  max-width: 100%;
  text-align: center;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;   
  background: var(--first-color);
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background: radial-gradient(#b0e633, #53ef7d);
  left: 100px;
  top: 20px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background: var(--first-color-alt);
  left: 160px;
  top: -50px;
  width: 60px;
  height: 60px;
  animation-delay: -1800ms;
}


@keyframes floating {
  0% {
      transform: translateY(0px);
  }

  50% {
      transform: translateY(10px);
  }

  100% {
      transform: translateY(0px);
  }
}

.steps__card-number {
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #FFF;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

.steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
  text-align: justify;
}

.steps__card:hover .steps__card-number {
  transform: translateY(-.25rem);
}
/*=============== PRODUCTS ===============*/
.product__description{
  text-align: center;
}

.product__container{
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card{
  display: grid;
  position: relative;
}

.product__img{
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
}

.product__title,
.product__price{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.product__title{
  margin-bottom: .25rem;
}

.product__button{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.product__button:hover{
  background-color: var(--first-color-alt);
}

.product__circle{
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 5%;
}

.product__card:hover .product__img{
  transform: translateY(-.5rem);
}

/*=============== QUESTIONS ===============*/
.questions{
  background-color: var(--first-color-lighten);
}

.odsImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

.odsImg img {
  width: 500px;
  transition: 0.4s ease;
}

.imgDark {
  border: solid 3px white;
  border-radius: 25px;
}

.imgLight {
  border: solid 3px black;
  border-radius: 25px;
}

.odsImg img:hover {
  transform: scale(1.05);
}

.odsTitleContainer {
  display: flex;
  gap: 2rem;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.questions__objective {
  text-align: justify;
}

.questions__title {
  text-align: initial;
  margin-bottom: var(--mb-1);
}

.objectiveOdsText {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  display: grid;
  row-gap: 1.5rem;
}

.questions__item{
  background-color: var(--container-color);
  border-radius: .25rem;
}

.questions__item-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(152, 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: hsl(152, 24%, 32%);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}


fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

/*=============== CONTACT ===============*/
.contact__container{
  gap: 3rem;
}

.contact__data{
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon{
  font-size: 1.25rem;
}

.contact__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__input {
  font-size: 20px;
  padding: 1.7rem 1rem;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  border-radius: .5rem;
  color: var(--text-color);
  background: none;
  border: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
}

.inpuBox{
  position: relative;
}

.labelAnimada {
  position: absolute;
  padding: 1px 8px;
  border-radius: 15px;
  top: 6px;
  left: 0px;
  pointer-events: none;
  transition: .2s ease-in-out;
  margin: 5px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

/*Input focus move up label*/
.contact__input:focus + .labelAnimada{
  top: -20px;
  left: 15px;
  font-size: 16px;
  z-index: 10;
  color: var(--first-color);
  background-color: var(--body-color);
}
  
/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .labelAnimada{
  top: -20px;
  left: 15px;
  font-size: 16px;
  z-index: 10;
  color: var(--first-color);
  background-color: var(--body-color);
}

.contact__input:focus, 
.contact__input:not(:placeholder-shown).contact__input:not(:focus) {
  background-color: var(--body-color);
  border: 2px solid var(--first-color);
}

.inpuBox{
  position: relative;
  width: 100%;
  height: 50px;
}

.inputUser {
  font-size: 17px;
  padding: .75rem;
  height: 60px;
  letter-spacing: 1px;
  border-radius: .5rem;
  color: var(--text-color);
  background: none;
  border: none;
  outline: none;
}

/*=============== FOOTER ===============*/
.footer__container{
  row-gap: 3rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: var(--mb-2-5);
  transition: .3s;
}

.footer__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__subscribe, .contact__input, .inputUser{
  background-color: var(--first-color-lighten);
}

.subscribe-footer {
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.footer__input{
  color: var(--text-color);
  border: none;
  outline: none;
}

.input__footer {
  width: 70%;
  padding: 0 .5rem;
  background: none;
}

.footer__button{
  padding: 1rem;
}

.footer__data{
  display: grid;
  row-gap: .75rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__cards{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.footer__card{
  width: 35px;
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  max-width: 100%;
  margin: 2rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 17px;
  background-color: var(--first-color);
  right: 3rem;
  bottom: 3rem;
  padding: .8rem;
  border-radius: 50px;
  z-index: var(--z-tooltip);
  color: rgb(0, 0, 0);
  transition: .4s;
  animation: float 2s ease-in-out infinite;
  text-decoration: none;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
  color: white;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(152, 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: var(--first-color);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .steps__bg{
    padding: 2rem 1rem;
  }
  .steps__card{
    padding: 1.5rem;
  }

  .product__container{
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description{
    padding: 0 4rem;
  }
  .product__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe{
    width: 400px;
  }
}

@media screen and (max-width: 576px){
  .container {
    max-width: 95%;
    margin: .8rem;
  }
}

@media screen and (max-width: 486px){
  .home__description {
    max-width: 400px;
  }
  .scrollup{
    font-size: 15px;
    padding: .7rem;
  }
}

@media screen and (max-width: 420px) {
  model-viewer {
    width: 350px;
    height: 350px;
  }
  .bookOpen {
    width: 380px;
    height: 380px;
  }
  .odsTitleContainer {
    max-width: 360px !important;
  }
  .odsImg img {
    max-width: 140px;
  }
  .questions__title {
    font-size: 1.2rem;
  }
  .home__description {
    max-width: 350px;
  }
}

@media screen and (max-width: 386px){
  .odsTitleContainer {
    max-width: 350px !important;
  }
  .home__description {
    max-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .questions__objective {
    width: 95%;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .home__container,
  .questions__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 10rem 0 5rem;
  }
  .home__container{
    align-items: center;
  }
  .home__img{
    order: 1;
  }
  .home__social{
    top: 30%;
  }

  .questions__container{
    align-items: flex-start;
  }

  .footer__container{
    column-gap: 3rem;
  }
  .footer__subscribe{
    width: initial;
  }

}

@media screen and (max-width: 992px){
  .questions__title {
    font-size: 1.5rem !important;
  }
  .questions__objective {
    width: 70%;
  }
  .odsImg img {
    width: 400px;
  }
  .odsTitleContainer {
    gap: 1rem;
    margin: 0 2rem;
  }
  .about__container {
    flex-direction: column;
  }
  .about__data {
    max-width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .questions__title {
    font-size: 1.5rem !important;
    width: 60%;
  }
  .questions__objective {
    width: 60%;
  }
  .odsTitleContainer {
    gap: 1rem;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 730px) {
  .questions__title {
    font-size: 1.5rem !important;
    width: 100%;
    text-align: center;
  }
  .questions__objective {
    width: 100%;
    text-align: center;
  }
  .odsTitleContainer {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto !important;
    padding: 0 1rem;
  }
  .odsImg img {
    max-width: 250px;
  }
}

@media screen and (max-width: 612px) {
  .odsTitleContainer {
    max-width: 550px;
  }
  .odsImg img {
    max-width: 250px;
  }
}

@media screen and (max-width: 760px) {
  .contact__data{
    text-align: center;
  }
}

@media screen and (max-width: 556px) {
  .odsTitleContainer {
    max-width: 500px;
  }
  .odsImg img {
    max-width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .odsTitleContainer {
    max-width: 415px;
  }
  .odsImg img {
    max-width: 170px;
  }
  .questions__title {
    font-size: 1.2rem !important;
  }
  .questions__objective {
    font-size: 14px !important;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h1-font-size);
  }

  .home{
    padding: 10rem 0 5rem;
  }

  .home__description{
    padding-right: 7rem;
  }

  .about__img{
    width: 380px;
  }

  .steps__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .steps__bg{
    padding: 3.5rem 2.5rem;
  }
  .steps__card-title{
    font-size: var(--normal-font-size);
  }

  .product__description{
    padding: 0 16rem;
  }
  .product__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }
  .product__img{
    width: 160px;
  }
  .product__circle{
    width: 110px;
    height: 110px;
  }
  .product__title,
  .product__price{
    font-size: var(--normal-font-size);
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo{
    font-size: var(--h3-font-size);
  }
  .footer__container{
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }
  .footer__copy{
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 1350px) {
  .about__title {
    font-size: 30px;
  }
  .bookOpen, .home__img model-viewer {
    width: 450px;
    height: 450px;
  }
}